.filterContainer {
    position: relative;
    top: 6rem;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 100%;
    margin: 2rem auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.line {
    position: relative;
    width: 40px;
    height: 4px;
    background-color: rgb(147, 146, 146);
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 10px;
    z-index: 1000;
}
.filterCheckbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4b2354;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.filterCheckbox:checked {
    background-color: #4b2354;
    border-color: #4b2354;
}

.filterCheckbox:checked::before {
    content: "✔";
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.filterSection {
    margin-bottom: 20px;
}

.filterSection h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #5c0a61;
}

.filterlist {
    list-style: none;
    padding: 1rem;
    margin: 0;
}

.filterlistItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #9a9393;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.filterlistItem:hover {
    background-color: #f5f5f5;
}

.filtericon {
    color: #5c0a61;
}

.filteractions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}

.cancelButton,
.applyButton {
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.cancelButton {
    background-color: #ff6767;
    color: white;
}

.applyButton {
    background-color: #5c0a61;
    color: white;
}

/* Responsive Styles */

@media (max-width: 768px) {
    .filtercontainer {
        padding: 15px;
    }

    .filtersection h3 {
        font-size: 16px;
    }

    .filterlistItem {
        font-size: 14px;
    }

    .cancelButton,
    .applyButton {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    .filtercontainer {
        padding: 10px;
    }

    .filtersection h3 {
        font-size: 14px;
    }

    .filterlistItem {
        font-size: 13px;
    }

    .cancelButton,
    .applyButton {
        font-size: 13px;
        padding: 8px 10px;
    }
}
