.ChatBoxContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
    border-left: 1px solid #ddd;
}

.ChatBoxContainer .chatHeader {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.ChatBoxContainer .chatHeader .follower {
    display: flex;
    align-items: center;
}

.ChatBoxContainer .chatHeader .follower img {
    border-radius: 50%;
    margin-right: 10px;
}

.ChatBoxContainer .chatHeader .follower .name {
    font-size: 1rem;
    font-weight: bold;
}

.ChatBoxContainer .chatHeader .follower hr {
    width: 95%;
    border: 0.1px solid #ececec;
    margin-top: 30px;
}

.ChatBoxContainer .chatBody {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background: #e7e4e0;
    display: flex;
    flex-direction: column;
}

.ChatBoxContainer .chatBody .message {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.ChatBoxContainer .chatBody .message span:first-child {
    margin-bottom: 5px;
}

.ChatBoxContainer .chatBody .message.own {
    align-self: flex-end;
    background: #ee9d77;
}

.ChatBoxContainer .chatBody .message.received {
    align-self: flex-start;
    background: #ddd2d2;
}

.ChatBoxContainer .chatSender {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-top: 1px solid #ddd;
}

.react-input-emoji--input {
    font-weight: 400;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    width: 100%;
    user-select: text;
    padding: 9px 12px 11px;
    text-align: left;
    font-size: 14px; 
    color: #333; 
}



.ChatBoxContainer .chatSender div {
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 5rem;
}

.ChatBoxContainer .chatSender .button {
    padding: 10px;
    background: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ChatBoxContainer .chatSender input[type="file"] {
    display: none;
}

.ChatBoxContainer .chatboxEmptyMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #999;
}

.inputSection {
    display: flex;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    /* border-top: 1px solid #ccc; */
  }
  
  .messageInput {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    background-color: #eceaea;
  }
  
  .sendButton {
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sendButton i {
    font-size: 18px;
  }

/* Responsive design */
@media (max-width: 768px) {
    .ChatBoxContainer .chatHeader .name {
        font-size: 0.8rem;
    }

    .ChatBoxContainer .chatSender .button {
        padding: 5px;
        font-size: 0.8rem;
    }

    .ChatBoxContainer .chatBody .message {
        max-width: 80%;
    }
}
